* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.main {
  /* border: 2px solid rgb(0, 0, 0); */
  display: flex;
  /* margin: 1rem; */
}

.cards {
  /* border: 2px solid yellow; */
  /* background-color: hotpink; */
  height: 40vh;
  width: 10vw;
  display: flex;
  flex-direction: column-reverse;
  box-shadow: 0 0 5px black;
  margin: 1.5rem;

  /* justify-content: center; */
  /* align-items: center; */
  /* padding: 0.5rem; */

}

.title {
  background-color: white;
  border: none;
  /* margin: 1rem; */
  /* color: red; */

  height: 22%;
  padding: 10px 10px 10px 10px;
  /* justify-content: center;
align-items: center;
text-align: center; */
}

p {
  font-size: 10px;
  /* padding: ; */
}
